@font-face {
  font-family: BebasNeue-Regular;
  src: url("../fonts/Bebas_Neue/BebasNeue-Regular.ttf");
}
@font-face {
  font-family: Inter;
  src: url("../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}
@font-face {
  font-family: Inter-light;
  src: url("../fonts/Inter/static/Inter-Light.ttf");
}
@font-face {
  font-family: Inter-medium;
  src: url("../fonts/Inter/static/Inter-Medium.ttf");
}
