$black-color: #111111;
$white-color: #ffffff;
$blue-color: #6cace4;
$x-blue-color: #33d2ff;
$gray-color: #c4c4c4;
$red-color: #dd5789;
$purple-color: #9845e8;
//
$fs-sm: 0.875rem; //14px
$fs-normal: 1rem; //16px
$fs-md: 1.125rem; //18px
$fs-lg: 1.5rem; //24px
$fs-xxl: 3.5rem; //56px
$fs-xxxl: 6rem; //96px
//
$fw-light: 100;
$fw-medium: 500;
